extends layout
include utils
block content
  form(action='/users/create' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Full Name', 'fullName', fullName)
    +field('User Name', 'userName', userName)
    +field('Email Address', 'email', email, "email")
    +field('Password', 'password', user.password, 'password')
    +field('Confirm Password', 'confirmPassword', '', 'password')
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Register
      a(href='/' class='btn btn-warning ml-2') Cancel
  div
    p: a(href='/user/login') Already have an account?
