extends layout
include utils
block content
  form(action='/posts/create' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Title', 'title', title)
      +field('Description', 'description', description)
      +field('Image', 'image', image)
      +field('New tag', 'name', name)
      select(name='tagList' required)
        each tag in tagList
          option(value=tag.id)= tag.name
      div(class='py-4')
        button(type='submit' class='btn btn-primary') Post
        a(href='/hello' class='btn btn-warning ml-2') Cancel
  div
     +validationErrorSummary(errors)
