extends layout
//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   link(rel="stylesheet" href="/stylesheets/main.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)
//- include utils
block content
  h1 Posts!!

  div(class='tags-container') Hello
  script(src='/javascripts/index.js')

      //- each post in posts
      //-   div
      //-     = post.title
      //-     div
      //-     = post.description
      //-     div
      //-     = post.image
      //-     p
      //-     p





  //-   div(class='postsss')
  //-     div(class='post-container')
  //-       div(class='post-grid-container')
  //-         div(class='post-poster post-username')
  //-           div() user image
  //-           div() unsername

  //-         div(class='post-description post-poster') Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore officiis voluptate ullam aspernatur omnis placeat ea. Voluptatem ullam, dolor a ratione, ea nostrum eveniet, molestias saepe rerum in nemo consectetur!
  //-         div(class='post-image post-poster')
  //-           img(class='post-image-file' src='https://www.speednik.com/wp-content/blogs.dir/1/files/2018/01/scientists-find-a-key-to-happiness-is-driving-a-fast-car-0001.jpg')
  //-         div(class='post-buttons post-poster')
  //-           button(class='post-like') like
  //-           button(class='post-comment') comment
  //-           button(class='edit-button') Edit
  //-     div(class='post-container')
  //-       div(class='post-grid-container')
  //-       script(src='/javascripts/index.js')
  //-         div(class='post-poster post-username')
  //-           div() user image
  //-           div() unsername
  //-         div(class='post-description post-poster') Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore officiis voluptate ullam aspernatur omnis placeat ea. Voluptatem ullam, dolor a ratione, ea nostrum eveniet, molestias saepe rerum in nemo consectetur!
  //-         div(class='post-image post-poster')
  //-           img(class='post-image-file' src='https://www.speednik.com/wp-content/blogs.dir/1/files/2018/01/scientists-find-a-key-to-happiness-is-driving-a-fast-car-0001.jpg')
  //-         div(class='post-buttons post-poster')
  //-           button(class='post-like') like
  //-           button(class='post-comment') comment
