doctype html
html(lang='en')
  head
      block head
        meta(charset='utf-8')
        meta(property="og:title" content=" - The Fast and the Curious - ")
        meta(name="image" property="og:image" content="https://i.imgur.com/QQOit1o.png")
        meta(property="og:description" content="TheFastandtheCurious, a Quora clone. Check the footer for more great projects by the creator!")
        meta(property="og:image:type" content="image/jpeg")
        meta(property="og:url" content="https://thefastandthecurious.herokuapp.com/")
        meta(name="author" content="Paul Chang")
        title The Fast and the Curious
        link(rel="stylesheet" href="/stylesheets/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
  body(class='body')
    header(class="nav-bar")
      a(href='/')
        img(class='nav-links' src='http://nebula.wsimg.com/ee34e8fb3647a9f4eb497b1ce917b72a?AccessKeyId=58A00DE0FAC61CAFB374&disposition=0&alloworigin=1')
      a(href="/" class='nav-links')
        img(class='nav-links' src='https://image.flaticon.com/icons/png/512/171/171532.png' )
      a(href="/users/all" class='nav-links')
        img(class='nav-links' src='https://image.flaticon.com/icons/png/512/171/171561.png' )
      a(href="/likes" class='nav-links')
        img(class='nav-links' src='https://image.flaticon.com/icons/png/512/171/171557.png' )
      input(type="text" placeholder=' 🔍  Search by category...' class='search-bar' value=value)
      button(id='search-button') search
      a(href=`/users/${user.id}` class='nav-links')
        img(class='nav-links' src='https://image.flaticon.com/icons/png/512/171/171566.png' )
      a(href="/users/logout" class='nav-links')
        img(class='nav-links' src='https://previews.123rf.com/images/glopphy/glopphy1602/glopphy160200010/52091227-earth-icon-logo-vector-image-globe-illustration.jpg' )
      form(method='get' action='/posts/create')
        button(href='/posts/create', class='question-button') Summon Guru
    block content
    footer(class='footer-bar')
      div(class='info-container')
        div(class='my-info')
          a(class='footer-links' href='https://www.paulchang.dev')
            p(class='footer-type') @Paul Chang
          a(class='footer-links' href='https://www.linkedin.com/in/pchang1216')
            p(class='footer-type') @_Linkedin
          a(class='footer-links' href='https://github.com/88joonyc')
            p(class='footer-type') @Git
          a(class='footer-links' href='https://github.com/88joonyc/TheFastandtheCurious')
            p(class='footer-type') This Repo
          div(class='my-separate-info')
