include utils
append head
  link(rel='stylesheet' href='/stylesheets/login.css')
body
  div(class='login-body')
    div(class="login-container")
      div(class='logo-container')
        img(class='logo' src='http://nebula.wsimg.com/ee34e8fb3647a9f4eb497b1ce917b72a?AccessKeyId=58A00DE0FAC61CAFB374&disposition=0&alloworigin=1')
        p A website about fast toys and how to surivive them!
      div(class='login-form')
        a(href='/users/create' class='form-buttons sign-up') Sign up with email
        div(class='text-container')
          p(class='sign-up-text') By continuing you indicate that you agree to Quora’s Terms of Service and Privacy Policy.
      div(class='login-header')
        div(class='login-text') Login
        form(action='/users/login' method='post' class="fast-form")
          input(type='hidden' name='_csrf' value=csrfToken)
          label(for='userName') User Name
          input(type='text' name="userName" value=userName class='fast-form form-control' placeholder='User Name')
          label(for='password') Password
          input(type='password' name="password" class='fast-form form-control' placeholder='Password')
          div(class='login-buttons')
            button(type='submit' class='login-button form-button') Login
        form(action='/users/login/demo' method='post') 
          button(class='form-button demo-button' type='submit') Demo user
          input(type='hidden' name='_csrf' value=csrfToken)
      div(class='errors')
        +validationErrorSummary(errors)
