body {
    background-color: rgba(240, 242, 242, 1);
}

.edit-container {
    display: flex;
    justify-content: center;
    width: auto;
}

.posts-form {
    border: 1px solid lightgray;
    border-radius: 15px ;
    padding: 10px;
}

.form-group {
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
    margin-top: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.post-buttons {
    margin: 35px 30px;
    align-items: center;
}

.post-input-description {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 140px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
    padding: 5px;
    padding-bottom: 30px;
    margin-top: 20px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.select-input {
    border-radius: 15px;
    display: flex;
    /* margin: 0 auto; */
    margin-top: 10px;
    padding: 2.5px;
}

.post-buttons {
    position: relative;
    top: -10px;
    left: 290px;
    margin: 20px;
    border-radius: 15px;
}

.post-post {
    padding: 0 20px;
    background-color: rgb(135, 206, 250);
    color: rgb(25, 25, 112);
}
