.footer-bar {
    background-color: rgba(70, 66, 66, 0.089);
    height: 75px;
}

.info-container {}

.my-info {
    padding: 10px;
    display: flex;
    margin-left: 10px;
}

.my-sparate-info {}

.footer-links {
    padding-left: 20px;
    text-decoration: none;
}

.footer-type {
    font-size: small;
}

.footer-type:hover {
    color: blue;
}
