.footer-bar {
    background-color: rgba(0, 0, 0, 0.089);
    height: 100px;
}

.info-container {}

.my-info {
    padding: 20px;
    display: flex;
    margin-left: 10px;
}

.my-sparate-info {}

.footer-links  {
    padding-left: 20px;
}
