.footer-bar {
    background-color: rgb(243, 243, 243);
    height: 75px;
    box-shadow: 3px 3px 10px rgb(195, 180, 180);
    /* border-top: 1px solid rgb(218, 212, 212); */
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
}

.info-container {}

.my-info {
    padding: 10px;
    display: flex;
    margin-left: 10px;
}

.my-sparate-info {}

.footer-links {
    padding-left: 20px;
    text-decoration: none;
}

.footer-type {
    font-size: small;
}

.footer-type:hover {
    color: blue;
}
