h1 {
    color: #555555;
}

.nav-bar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    background-color: white;
    padding: 10px;
}

.nav-links {
    display: inline;
    height: 20px;
    padding: 0 10px
}

.search-bar {
    height: auto;
    border: 1px solid lightgray;
    width: 45%;
    padding-left: 20px;
}

.question-button {
    border-radius: 15px;
    background-color: rgba(207, 1, 1, 255);
    color: rgb(240, 240, 240);
    font-size: 12px;
    width: 120%;
}

.body {
    background-color: rgba(240, 242, 242, 1);
}

.nav-links:hover {
    background-color: rgb(250, 250, 250);
}
