h1 {
    color: #555555;
}

.body {
    background: rgb(131, 59, 36);
    background: linear-gradient(90deg, rgba(131, 59, 36, 1) 0%, rgba(53, 68, 65, 1) 35%, rgba(96, 104, 99, 1) 100%);
}

.login-container {
    background-color: white;
    width: 700px;
    height: 550px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'g1-1 g1-1' 'g2-1 g2-2' 'g2-1 g2-2' 'g3-1 g3-1';
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    grid-area: g1-1;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size: 50px;
}

.sign-up-form {
    grid-area: g2-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: center;
    width: 85%;
    padding: 10px;
    border-radius: 2.5px;
    border: 1px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    justify-content: left;
    margin: 5px;
}

.form-buttons:hover {
    background-color: lightgrey;
}

.sign-up {
    justify-content: center;
    font-size: smaller;
    border: none
}

.sign-up:hover {
    background-color: lightgray;
    border-radius: 20px;
}

.fast-form {
    grid-area: g2-2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 100%;
    margin: 10px;
    padding: 12px 30px;
    box-sizing: border-box;
}

.form-button {
    padding: 5px;
    width: 100px;
    border-radius: 20px;
}

.forgot-password {
    padding: 20px;
    font-size: smaller;
    color: grey;
    text-decoration: none;
}

.form-logo {
    margin-bottom: 40px;
    border-bottom: 4px solid grey
}

.test-class {
    grid-area: g3-1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button1 {
    width: 50px;
}

.sign-up-text {
    font-size: smaller;
}

.text-container {
    color: gray;
    width: 80%;
    font-size: 15.5px;
    align-items: center;
    border-top: 1px solid lightgrey;
}
/*
.login-button {
    width: 40%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
