@import url(./reset.css);
@import url(./footer.css);

h1 {
    color: #555555;
}

.nav-bar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    background-color: white;
    padding: 5px;
}

.nav-links {
    display: inline;
    height: 25px;
    padding: 0 5px;
    align-items: center;
}

.search-bar {
    height: auto;
    border: 1px solid lightgray;
    width: 45%;
    padding-left: 10px;
}

.question-button {
    border-radius: 15px;
    background-color: rgba(207, 1, 1, 255);
    color: rgb(240, 240, 240);
    font-size: 12px;
    width: 100%;
}

.delete-this-post {
    float: right;
    font-size: 20px;
    background-color: white;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding-right: 15px;
    padding-top: 15px;
}

.delete-this-post:hover {
    cursor: pointer
}

.delete-post {
    justify-self: center;
}

.body {
    background-color: rgba(240, 242, 242, 1);
}

.nav-links:hover {
    background-color: rgb(250, 250, 250);
}

.buttons-for-posts {
    float: right;
}

.like-button {
    height: 45px;
}

.like-button:hover {
    cursor: pointer;
}

.buttons-for-posts {
    width: 100px;
    height: 0px;
    align-content: center;
}

.like-button {
    height: 30px;
    background-color: white;
}

.post-likes {
    justify-items: center
}

.like-hate {
    display: flex;
    margin-left: 200px;
}

.ratings {
    border: 2px solid grey;
    background-color: white;
    width: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-items: center;
    padding: 3.5px;
}

.footer-bar {

}
