.this-post {
    margin-right: 40px;
}

.post-container {
    width: 100%;
    display: block;
    margin: 10px 0;
}

.main-container {
    display: flex;
}

.tags-container {
    width: 80%;
}


.post-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.post-poster {
    display: flex;

    height: 40px;
    padding: 10px

}

.post-image-poster {
    display: flex;
    justify-content: flex-start;
    height: 40px;
}

.post-image {
    width: 100%;
    height: auto;
}

.post-image-file {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    width: 100%;
    object-fit: cover;
}

.post-description {
    height: auto;
    font-family: 'B612', sans-serif;

}
<<<<<<< HEAD

.tags-tags {
    display: block;
    margin-top: 20px;
}

.tags-link {
    display: block;
    text-decoration: none;
    padding: 12px;
    font-size: 13.5px;
}

.tags-links:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

h2 {
    font-size: 14px;
    margin: 10px;
    padding-left: 20px;
    color: rgb(150, 150, 150);
}

.timer-img {
    width: auto;
    height: 12px;
    display: block;
}

.tags-links {
    display: flex;
    align-items: center;
}

.post-title {
    font-weight: bolder;
    margin-top: 20px;
}

.post-title:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.post-container {
    display: block;
}


/* .user-image {
    width: 30px;
    margin-left: 5%;
} */

.post-username {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.post-user-email {
    font-size: smaller;
    color: blue;
    margin-left: 20px;
    align-self: center;
}

.post-title-contain {
    margin-top: 10px;
    display: flex;
}

.post-user-tag {
    font-size: smaller;
    color: grey;
}

.post-user-container {
    width: 100%;
    height: 30px;
}

.post-user-image {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 30px;
}

.post-timer {
    margin: 0 20px;
    font-size: 10px;
    align-self: center;
}

.users-contained {
    display: flex;
    flex-direction: row;
    justify-items: left;
    margin: 10px;
}

.buttons-for-posts {
    width: 300px;
    height: 60px;
    align-content: center;
}

.likes-button {
    position: relative;
    margin: 10px;
}
.post-likes {
    justify-items: center;
}

.like-hate {
    display: flex
=======

.tags-tags {
    display: block;
    margin-top: 20px;
}

.tags-link {
    display: block;
    text-decoration: none;
    padding: 12px;
    font-size: 13.5px;
}

.tags-links:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

h2 {
    font-size: 14px;
    margin: 10px;
    padding-left: 20px;
    color: rgb(150, 150, 150);
}

.timer-img {
    width: auto;
    height: 12px;
    display: block;
}

.tags-links {
    display: flex;
    align-items: center;
}

.post-title {
    font-weight: bolder;
    margin-top: 20px;
}

.post-title:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.post-container {
    display: block;
}


/* .user-image {
    width: 30px;
    margin-left: 5%;
} */

.post-username {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.post-user-email {
    font-size: smaller;
    color: blue;
    margin-left: 20px;
    align-self: center;
}

.post-title-contain {
    margin-top: 10px;
    display: flex;
}

.post-user-tag {
    font-size: smaller;
    color: grey;
}

.post-user-container {
    width: 100%;
    height: 30px;
}

.post-user-image {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 30px;
}

.post-timer {
    margin: 0 20px;
    font-size: 10px;
    align-self: center;
}

.users-contained {
    display: flex;
    flex-direction: row;
    justify-items: left;
    margin: 10px;
>>>>>>> comments
}
