.posts-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-form {
    position: relative;
    border: 1px solid black;
    top: 10%;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
}


.post-buttons {
    position: relative;
    top: -10px;
    left: 290px;
    margin: 20px;
    border-radius: 15px;
}

.post-post {
    padding: 0 20px;
    background-color: rgb(135, 206, 250);
    color: rgb(25, 25, 112);
}

.tips-tag {
    padding-top: 5px;
    margin-bottom: 5px;
}

.tip-contain {
    padding: 20px 20px 0 20px;
    font-size: 20px;
    color: rgb(25, 250, 112);
    margin-top: -20px;
}

.post-cancel {
    text-decoration: none;
    color: grey;
}

.post-tips {
    font-size: 10px;
    color: rgb(25, 25, 112);
    font-weight: bolder;
    padding-bottom: 2.5px;
}

.tips-container {
    display: block;
    background-color: rgba(135, 206, 250, .5);
    font-size: 15px;
    font-weight: bolder;
    color: rgb(25, 25, 112);
    padding: 0 30px;
}

.select-input {
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2.5px;
}

.post-input-description {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 140px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
    padding: 5px;
    padding-bottom: 30px;
    margin-top: 20px;
    resize: none;
}

.post-input {
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
    margin-top: 10px;
    padding: 5px;
}

.posts-container {
    display: flex;
    justify-content: center;

}

.post-label {
    padding: 20px;
}
