.profile-contianer {
    margin: 0 auto;
}

.profile-img {
    border-radius: 300px;
    width: 300px;
}

.profile-layout {
    display: flex;
    justify-content: center;

}
.profile-basic {
    border: 1px solid black;

}
